*{
  margin: 0;
}
.content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 90%;
  margin-bottom: 20px;
}
.master{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}
.containera{
  display: inline-flex;
  width: 49%;
  height: 100px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: fixed;
  z-index: 2;
  background-color: white;
  margin-top: 0px;
}
.containerb{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100px;
  flex-wrap: nowrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-left: 49%;
  position: fixed;
  z-index: 2;
  background-color: white;
  margin-top: 0px;
}
.item{
  flex: 1 1 50px;
  height: 50px;
  color: black;
  display: inline-block;
}
.header{
  color: mediumaquamarine;
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.columna{
  width: 45%;
  display: flex;
  height: auto;
  margin-top: 100px;
  z-index: 1;
  flex-direction: row;
  margin-left: 10px;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}
.columnb{
  width: 27.5%;
  display: flex;
  height: auto;
  flex: 1 1 300;
  margin-top: 100px;
  z-index: 1;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  overflow-x: scroll;
}
.columnc{
  margin-right: 10px;
  width: 27.5%;
  display: flex;
  height: auto;
  flex: 1 1 240px;
  margin-top: 100px;
  z-index: 1;
  flex-direction: column;
  flex-grow: 1;
}
.i{
  display: inline-block;
  border: 1px solid black;
  flex: 1 1 630;
  width: 630;
  height: 300px;
  max-height: 300px;
  max-width: 630px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}
.p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 630;
  height: auto;
}
.a{
  width: 49%;
  height: auto;
  display: inline;
  flex-grow: 1;
  min-width: 150px;
}
p{
  font-family: Georgia;
 font-size: 17px;
 color: black;
}
h1{
  font-family: Georgia;
  color: black;
}
.ia{
  width: 48%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-right: 20px;
  max-width: 305px;
}
.ib{
  width: 48%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 305px;
}
.b{
  height: auto;
  width: 100%;
}
.ic{
  width: 100%;
  height: 300px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.d{
  height: auto;
  width: 100%;
}
.footer{
  width: 100%;
  background-color: mediumaquamarine;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a{
  color: black;
}
.title{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 1px solid white;
  height: 20px;
  width: auto;
}
.link{
  margin: 20px;
}
.rights{
  display: inline;
  width: auto;
  font-size: 15px;
}
.footholder{
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
  height: auto;
}
