.content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 900px;
}
.master{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.containera{
  display: inline-flex;
  width: 49%;
  height: 100px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.containerb{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100px;
  flex-wrap: nowrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin: 0 left;
}
.item{
  flex: 1 1 50px;
  height: 50px;
  color: black;
  display: inline-block;
}
.header{
  color: mediumaquamarine;
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.columna{
  width: 50%;
  display: flex;
  height: 900px;
}
.columnb{
  width: 30%;
  display: flex;
  height: 900px;
  flex: 1 1 300;
}
.columnc{
  width: 20%;
  display: flex;
  height: 900px;
}
